.desenho {
    padding-top: 120px;
    width: 100%;
}

a{
    text-decoration: none;
}

.legenda {
    color:#38b6ff;
   
}

.espaço {
    display: inline;
    margin-left: 80%;
   
}

.prato {
    margin-top: 10%;
    margin-left: 3%;
}

.conta {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    background-color: #38b6ff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    max-width: calc(55.33% - 100px); /* 3 produtos por linha com margens */
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
}

.add-to-cart {
    background-color: var(--cor-primaria);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add-to-cart:hover {
    background-color: var(--cor-secundaria);
}

.cart {
    position: relative;
}