/* body {
    background-image: url(/Dish-Of-The-World/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

.principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.descricao {
    width: 80%;
    font-size: 150%;
    text-align: center;
}

.container-imagem {
    padding: 3rem;
    background-color: var(--cor-secundaria);
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem;
}

.principal img {
    max-width: 100%;

}


.chili {
    height: auto;
 }

.legenda {
    text-align: center ;
   
    color: #222d8b;
    margin: 0;
}

strong {
    font-size: 260%;
}

h6 {
    font-size: 150%;
    margin: 0;
}

.tipo {
    color:#1E90FF;
    display: inline;
}

.espaço {
    display: inline;
    color: #1E90FF;
    margin: 0;
    font-size: 1.5rem;
}

.valor {
    text-align: center;
}

.valor img {
    width: 100%;
}

.linha {
    width: 80%;
    display: flex;
    justify-content: space-between;
}